:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-header:linear-gradient(135deg, #7A77B9, #A29BFE);
    --color-letra:black;
    --color-menu:#2C2966;
    --color-fondo: white;
    --color-fondoMenu: white;
    --color-footer:linear-gradient(135deg, #7A77B9, #A29BFE);
    --color-opcionesMenu:#B1AFDF;
    --color-btn:#E6E6F5;
    --color-form: white;
    --color-Sumit:#6c63ff;
    --color-Beneficios: #c6e1fd;
    --color-Input: white;
}

/*Modo Oscuro*/
.oscuro-modo {
    --color-header:#0D0C1D;
    --color-letra: white;
    --color-fondo:#0D0C1D;
    --color-menu: white;
    --color-fondoMenu: #0D0C1D;
    --color-footer:#1C1A42;
    --color-opcionesMenu:white;
    --color-btn:#1C1A42;
    --color-form:#8E8BD0;
    --color-Sumit:#0D0C1D;
    --color-Beneficios: #D5D3EE;
    --color-Input: #D5D3EE;
}

.btn-nocturno{
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 5em;
    height: 5em;
}
span{
    color: black;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--color-letra);
    background-color: var(--color-fondo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*Header y navegacion*/
header {
    background: var(--color-header);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    margin: 0;
    display: inline-block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: var(--color-letra);
    font-size: 3rem;
    text-align: center;
}


.btn {
    background-color: var(--color-btn);
    color: var(--color-letra);
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 3px 10px rgba(108, 99, 255, 0.3);
}

.btn:hover {
    background-color: var(--color-fondoMenu);
    color: var(--color-letra);

}

.btn-inicio {
    background-color: #6c63ff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 auto;
}


.btn-inicio:hover {
    background-color: #564fd4;
}


/*Menu Inicio*/
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5em;
    height: auto;
    cursor: pointer;
    border: 2px solid black;
    padding: 15px;
    background-color:var(--color-fondoMenu);
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(108, 99, 255, 0.3);
}

.menu-inicio span {
    height: 0.4em;
    margin: 2px;
    width: 100%;
    background-color: var(--color-menu);
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Despliegue menu*/
.opciones-menu {
    position: absolute;
    flex-direction: column;
    margin-top: 10px;
    left: 10px;
    background-color:var(--color-opcionesMenu);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0.5rem;
    /*Oculta los botones hasta que se haga click*/
    display: none;
    flex-direction: column;
    min-width: 150px;
    z-index: 1000;
}

.opciones-menu.show {
    display: flex;
}

/* Animacion al activarse*/
.menu-inicio.active span:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 7.5px);
}

.menu-inicio.active span:nth-child(2) {
    opacity: 0;
}

.menu-inicio.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7.5px, -7.5px);
}

/*Cuerpo*/
main {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.beneficios {
    background-color: var(--color-Beneficios);
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    max-width: 800px;
    align-items: center;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.beneficios h4 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.lista-beneficios {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

h2 {
    text-align: left;
    margin-bottom: 2rem;
    color: var(--color-letra);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

/*Imagenes*/
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.imagen-wrapper {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.imagen-wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.imagen-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.imagen-wrapper:hover .overlay {
    opacity: 1;
}

.overlay button {
    background: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.overlay button:hover {
    background: #6c63ff;
    color: white;
}

/*Para el corazon de favoritos*/
.like{
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.descargar{
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.like.active{
    color: #ff4081;
    transform: scale(1.1);
}

.descargar.active{
    color: #ff4081;
    transform: scale(1.1);
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.5); }
    50% { transform: scale(1); }
    75% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes downloadBounce {
    0% { transform: scale(1); }
    50% { transform: translateY(-5px) scale(1.1); }
    100% { transform: scale(1); }
}

.like.active {
    animation: heartbeat 0.5s;
}

.descargar.active {
    animation: downloadBounce 0.5s;
    background: #6c63ff;
    color: white;
}

.like:hover{
    background-color: #f0f0f0;
    transform: scal(1.05);
}

.descargar:hover {
    background: #6c63ff;
    color: white;
    transform: scale(1.05);
}

/*Formulario Usuario*/
.form-container {
    max-width: 800px;
    margin: 0 auto;
    background:var(--color-fondo) ;
    color:black;
}

form {
    background: var(--color-form);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 20px;
}

fieldset {
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

legend {
    font-weight: 600;
    padding: 0 10px;
    color: black;
    font-size: 24px;
}

.form-group {
    margin-bottom: 1rem;
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color:var(--color-fondo);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background: var(--color-Input);
}

input:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.2);
}

/* Estilo para el msj de error */

#error-usuario, #error-email, #error-password, #error-fecha{
    color: red;
}

.submit-btn {
    background-color:var(--color-Sumit);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #564fd4;
}

/*Pie de pagina*/
footer {
    background-color: var(--color-footer);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

/*Dispositivos mas chicos*/
@media (max-width: 768px) {
    nav {
        display: grid;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin: 0 auto;
        text-align: center;
        content: center;
    }

    .btn {
        margin-bottom: 0 auto;
        width: auto;
        padding: 2px;
        text-align: center;
        font-size: 12x;
    }
    
    .contenedor {
        gap: 15px;
    }
    
    .imagen-wrapper {
        width: 150px;
        height: 225px;
    }
    
    form {
        padding: 1.5rem;
    }

    .beneficios {
        width: 100%;
    }

    .menu-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2em;
    height: 2em;
    cursor: pointer;
    padding: 5px;
    background-color: #6c63ff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(108, 99, 255, 0.3);
    }

    /* Animacion al activarse*/
    .menu-inicio.active span:nth-child(1) {
        transform: rotate(45deg) translate(7.5px, 7.5px);
    }
    
    .menu-inicio.active span:nth-child(2) {
        opacity: 0;
    }
    
    .menu-inicio.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7.5px, -7.5px);
    }
    .opciones-menu {
        position: absolute;
        margin-top: 5px;
        left: 5px;
        background-color: #B1AFDF;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 0.25rem;
        display: none;
        flex-direction: column;
        max-width: 1em;
        z-index: 1000;
    }
}

@media (max-width: 480px) {
    main {
        padding: 1rem;
    }
    
    .imagen-wrapper {
        width: 140px;
        height: 210px;
    }
    
    .overlay {
        flex-direction: column;
        gap: 5px;
    }
    
    .overlay button {
        padding: 6px 10px;
        font-size: 0.8rem;
    }
}

.oculto{
    display: none;
}